<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Developing Mobile Application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-wrapper">
    <h1>Hello World</h1>
    <h3>Welcome to the Holiday Season</h3>
    <img src="assets/srh.jpg" style="width: 100%; max-width: 300px; display: block; margin: 20px auto;">
  </div>

  <div class="content-wrapper">
    <ion-item>
      <ion-label position="floating">Enter Your Name</ion-label>
      <ion-input [(ngModel)]="userName" type="text" clear-input></ion-input>
    </ion-item>
  </div>

  <div class="content-wrapper">
    <ion-button (click)="goToDashboard()">Submit</ion-button>
  </div>
</ion-content>
